In [2]:
import pandas as pd
data_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 22],
    "Salary": [50000, 60000, 45000]
}
df = pd.DataFrame(data_dict)

In [3]:
print("\nDataFrame:\n", df)

DataFrame:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000

In [4]:
# Filter rows where Age > 23
filtered_df = df[df['Age'] > 23]

In [5]:
print("\nFiltered DataFrame:\n", filtered_df)

Filtered DataFrame:
     Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

In [6]:
 #. Add a new column based on existing column
df['Bonus'] = df['Salary'] * 0.1

In [7]:
print("\nDataFrame with Bonus:\n", df)

DataFrame with Bonus:
       Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   22   45000  4500.0

In [8]:
# Group data by a categorical column and calculate average
# Adding Department column
df['Department'] = ['HR', 'IT', 'HR']
grouped = df.groupby('Department').mean(numeric_only=True)

In [9]:
print("\nGrouped DataFrame (mean):\n", grouped)

Grouped DataFrame (mean):
              Age   Salary   Bonus
Department
HR          23.5  47500.0  4750.0
IT          30.0  60000.0  6000.0